@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    box-sizing: border-box; 
}
/*header*/



header div p{
    background-color: #1CD1B0;
    font-family: "roboto";
    font-size: 15px;
    padding: 8px;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.315);
    text-align: left;
}

div.headerheroes{
    display: flex;
    background-color: #00669F;
    justify-content: space-between;
    align-items: center;
}
div.headerheroes img{
    width: 10%;
    height: 0%;
    padding-right: 1% ;


}

header div h1{
    font-size: 50px;
    padding: 10px; 
    font-family: "roboto";
    color:white;
    font-weight: bold;
}

nav {
    background-color: #001D2D;
    text-align: end;
    padding: 0.5% 0%;
}

a{
    text-decoration: none;
    font-family: "roboto";
    font-size: 1rem;
    color: white;
    padding: 5px;
}
/*main*/

body{

    font-family: "roboto";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0% 10%;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    width: 300px;
}

article {
    display: flex;
    flex-direction: column;

}

.caja1{
    display: flex;
    height: 193px;
    width: 300px;
    align-items: center;

}

.batman{
    border-radius: 50%;
    position: relative;
    top:50%;
    right: 78%;
}

.corazon{
    position: relative;
    bottom: 35%;
    right: 95%;
}

article .caja2{
    width: 300px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F3F3;
    text-align: center;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.315);

    }

    button{
        background-color: #00669F;
        color: white;
        width: 130px;
        height: 50px;
        margin-left: 29%;
        margin-top: 10%;
    }
    button:hover{
        transition: .25s;
        background-color: #1CD1B0;
        color: black;
        border: 1px solid black;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.315);
    }



/* parrafos y h3 */


h3{
    font-size: 2rem;
}

/*footer*/


footer{
    background-color: #00669F;
    font-size: 20px;
    padding: 10px;
    font-family: "roboto";
    font-weight: bold;
}

footer p{
    text-align: center;
    color: white;
    border: black;
}
@media screen (max-widht:500){
    

}
    

